/* Apply default styles to the whole body */
body {
    font-family: "Poppins";
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }

  /* Center align the content within the container and add some top margin */
.container {
    text-align: center;
    margin-top: 30px;
  }

  /* Styling for the main heading */
.heading {
    color: #007bff;
    font-size: 28px;
    margin-bottom: 20px;
  }

  /* Styles for the form containing input fields */
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

/* Styling for input fields */
.input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Styling for the "Add Transaction" button */
.addButton {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }  

/* Hover effect for the "Add Transaction" button */
.addButton:hover {
    background-color: #0056b3;
  }
  
  /* Styling for the search bar */
  .searchBar {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 700px;
  } 
 
 
/* Styling for the buttons to sort transactions */
.sortButtons {
    margin-bottom: 20px;
  }
  
  /* Styling for each sort button */
.sortButtons button {
    margin-right: 10px;
    font-size: 16px;
    padding: 10px 16px;
    background-color: #f5f5f5;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
   

  