/* Apply default styles to the whole body */
body {
    font-family: "Poppins";
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }

  /* Center align the content within the container and add some top margin */
.container {
    text-align: center;
    margin-top: 30px;
  }

  /* Styling for the main heading */
.heading {
    color: #007bff;
    font-size: 28px;
    margin-bottom: 20px;
  }

  /* Styles for the form containing input fields */
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  