/* Apply default styles to the whole body */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }

  /* Center align the content within the container and add some top margin */
.container {
    text-align: center;
    margin-top: 30px;
  }

  